@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import '_mixins.scss';
@import '_extends.scss';
@import '_burger.scss';

@import '_header.scss';

* {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   line-height: 1;
   background: linear-gradient(90deg, black, silver);
   font-family: "Josefin sans", serif;
   font-size: 14px;
}

a {
   color: #000;
   text-decoration: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.form * {
   outline: none;
}

.form__input._error {
   box-shadow: inset 0px 1px 20px 6px red;
}

.form {
   max-width: 550px;
   margin: 0 auto;
   color: #fff;
   padding: 130px 0;

   &__body {
      @media (max-width: 550px) {
         padding: 20px;

      }
   }

   &__title {
      font-size: 30px;
      font-weight: 700;
      margin: 0px 0px 30px 0px;
      text-align: center;
   }

   &__item {
      margin: 0px 0px 20px 0px;
   }

   &__label {
      font-size: 18px;
      display: block;
      margin: 0px 0px 10px 0px;
   }

   &__input {
      height: 50px;
      padding: 0px 20px;
      border-radius: 5px;
      width: 100%;
      font-size: 18px;
      transition: all 0.5s ease 0s;

      &:focus {
         box-shadow: 0 0 15px #6F2CFF;
      }
   }

   &__button {
      @extend %demo-btn;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      background: linear-gradient(18deg, #6F2CFF, #e84393);
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      position: relative;
      overflow: hidden;
      box-shadow: 0 5px 20px black;

      &:active {
         top: 3px;
         box-shadow: 0 2px 0 black;
      }
   }

}

textarea.form__input {
   min-height: 120px;
   resize: vertical;
   padding: 20px;
}

.options {
   padding: 10px 0px 0px 0px;

   &__item {
      margin: 0px 0px 10px 0px;
   }

   &__input {
      display: none;

      &:checked+.options__label::after {
         transform: scale(1);

      }
   }

   &__label {
      position: relative;
      font-size: 16px;
      display: inline-flex;
      line-height: 140%;
      align-items: center;

      &::after {
         content: '';
         position: absolute;
         top: 4px;
         left: 4px;
         width: 16px;
         height: 16px;
         background-color: #6F2CFF;
         border-radius: 50%;
         transform: scale(0);
         transition: all 0.3s ease 0s;
      }

      &::before {
         content: '';
         align-self: start;
         flex: 0 0 24px;
         height: 24px;
         background-color: #fff;
         border-radius: 50%;
         margin: 0px 10px 0px 0px;
      }
   }
}

.checkbox._error .checkbox__label::before {
   box-shadow: inset 0px 0px 7px 6px red;
}

.checkbox {

   &__input {
      display: none;

      &:checked+.checkbox__label::after {
         scale: (1);
      }
   }

   &__label {
      font-size: 16px;
      line-height: 140%;
      display: inline-flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      &::after {
         transition: transform 0.5 ease 0s;
         content: '';
         width: 16px;
         height: 16px;
         position: absolute;
         top: 4px;
         left: 4px;
         background-color: #6F2CFF;
         border-radius: 4px;
         scale: (0);


      }

      &::before {
         content: '';
         flex: 0 0 24px;
         align-self: flex-start;
         height: 24px;
         background-color: #fff;
         border-radius: 4px;
         margin: 0px 10px 0px 0px;

      }

      a {
         color: #e84393;
      }
   }
}